@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    
    --primary-color:#2563EB;
    --secondary-color:#14B8A6;

    --background-color:#0F172A;
    --sidebar-color:#1E293B;
    --card-color:#1E293B;

    --text-color:#F8FAFC;
    --text-secondary:#94A3B8;

    --border-color:#334155;

    --shadow:0 8px 20px rgba(0,0,0,.35);

    --radius:12px;

    --transition:.3s ease;
    --header-height:70px;

}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


/*==================================================
    BODY
==================================================*/

body{

    font-family:'Poppins',sans-serif;
    background:var(--background-color);
    color:var(--text-color);
    min-height:100vh;

}

/*==================================================
    HEADER
==================================================*/

header{

    height:var(--header-height);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 30px;
    background:var(--sidebar-color);
    box-shadow:var(--shadow);
    backdrop-filter:blur(10px);
 



}


.logo{

    display:flex;
    align-items:center;
    gap:16px;
    font-size:30px;
    font-weight:600;

}


.header-logo{
    width:60px;
    height:60px;
    object-fit:contain;
    filter:
        drop-shadow(0 0 8px rgba(94,234,212,.35));
}


.header-right{
    display:flex;
    gap:10px;
    align-items:center;
}


.header-right input{

    width:220px;
    padding:10px;
    border:none;
    border-radius:8px;

    transition:var(--transition);

}

.header-right input:focus{

    outline:none;
    width:280px;

}


.header-right button{

    padding:10px 18px;
    border:none;
    border-radius:8px;
    background:var(--primary-color);
    color:white;
    cursor:pointer;

}


/*==================================================
     MAIN
==================================================*/
main{
    width:100%;
    min-height:calc(100vh - var(--header-height));
}

#content{
    width:100%;
    padding:0;
}






/*==================================================
WELCOME
==================================================*/

.subtitle{
    color:var(--text-secondary);
    margin-top:10px;
}




#btnStart{

    margin-top:25px;
    padding:14px 28px;
    border:none;
    border-radius:10px;
    background:var(--primary-color);
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:var(--transition);

}


#btnStart:hover{
    transform:translateY(-3px);
}




/*==================================================
PAGE
==================================================*/

.page{
    display:none;
}

.page.active{
    display:block;
}


/*==================================================
DICTIONARY
==================================================*/

.dictionary-search{

    display:flex;
    gap:15px;
    margin-top:30px;
    margin-bottom:30px;

}

.dictionary-search input{

    flex:1;
    padding:14px;
    border:none;
    border-radius:10px;
    font-size:16px;

}

.dictionary-search button{

    padding:14px 24px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    background:var(--primary-color);
    color:white;
    transition:var(--transition);

}

.dictionary-search button:hover{

    background:var(--secondary-color);

}


.dictionary-result{

    background:var(--card-color);
    border-radius:var(--radius);
    padding:30px;
    box-shadow:var(--shadow);
    margin-bottom:12px;

}



#word{

    font-size:34px;
    margin-bottom:10px;

}

#phonetic{

    color:var(--secondary-color);
    margin-bottom:20px;

}

#meaning{

    margin-top:20px;
    line-height:1.8;

}



#partOfSpeech{

    color:var(--secondary-color);
    font-weight:600;
    margin-bottom:15px;

}



/*==================================================
TRANSLATE
==================================================*/

.translate-box{

    margin-top:30px;
    background:var(--card-color);
    padding:30px;
    border-radius:var(--radius);
    box-shadow:var(--shadow);

}



.translate-input{
    position:relative;
}

#txtTranslate{

    width:100%;
    height:220px;
    padding:15px 15px 55px 15px;
    border:none;
    border-radius:10px;
    font-size:16px;
    font-family:'Poppins',sans-serif;
    resize:none;
    margin-bottom:18px;

}

.btn-clear{

    position:absolute;
    right:15px;
    bottom:35px;
    background:#dc3545;
    color:#fff;
    border:none;
    border-radius:8px;
    padding:8px 18px;
    cursor:pointer;
    transition:.3s;
    z-index:10;

}

.btn-clear:hover{
    background:#bb2d3b;
}



.translate-option{

    display:flex;
    align-items:center;
    gap:15px;
    flex-wrap:wrap;
    margin-bottom:25px;

}


.translate-option label{

    font-weight:600;

}

.translate-option select{

    padding:10px 15px;
    border:none;
    border-radius:8px;
    font-size:15px;

}

.translate-button{

    display:flex;
    flex-wrap:wrap;
    gap:15px;
    margin-bottom:30px;


}


.translate-button button{

    padding:12px 20px;
    border:none;
    border-radius:10px;
    background:var(--primary-color);
    color:white;
    cursor:pointer;
    transition:var(--transition);
    font-size:15px;
    flex:1 1 180px;

}

.translate-button button:hover{

    background:var(--secondary-color);
    transform:translateY(-2px);

}


.translate-result{

    background:#0F172A;
    border:1px solid var(--border-color);
    border-radius:10px;
    padding:20px;
    min-height:150px;

}

.translate-result h3{

    margin-bottom:15px;

}


#translateResult{

    line-height:1.8;
    color:var(--text-color);
    white-space:pre-wrap;
    min-height:120px;

}


.translate-box{
    transition:.3s;
}

.translate-box:hover{
    transform:translateY(-3px);
}



.word-header{

    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-bottom:15px;

}


/*==================================================
  TOMBOL SPEAKER
==================================================*/

#btnSpeakWord{

    width:48px;
    height:48px;
    border:none;
    border-radius:10px;
    background:var(--primary-color);
    color:white;
    cursor:pointer;
    font-size:20px;
    transition:var(--transition);

}

#btnSpeakWord:hover{

    background:var(--secondary-color);

}


/*==================================================
EXAMPLE
==================================================*/

.example-box{

    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    gap:15px;
    margin-top:10px;

}

#btnSpeakExample{

    width:48px;
    height:48px;
    border:none;
    border-radius:10px;
    background:var(--primary-color);
    color:white;
    cursor:pointer;
    font-size:20px;
    transition:var(--transition);

}

#btnSpeakExample:hover{

    background:var(--secondary-color);

}


#example{

    flex:1;
    line-height:1.8;
    font-size:18px;
    color:#E5E7EB;
    white-space:normal;
    word-break:break-word;

}


#exampleID{

    margin-top:12px;
    color:#5EEAD4;
    font-size:17px;
    line-height:1.8;
    font-style:italic;

}


/*==================================================
DASHBOARD VERSION 2.0
==================================================*/


.hero{

    border-radius:20px;
    overflow:hidden;

    background:
    linear-gradient(
    rgba(15,23,42,.45),
    rgba(15,23,42,.60)
    ),
    url("../logo/background.png");

    background-size:cover;
    background-position:center;
    display:flex;
    align-items:center;
    justify-content:center;
    box-shadow:var(--shadow);
    min-height:calc(100vh - 120px);
    padding:0px 40px 80px;
    margin-top: -50px;

}



.hero-overlay{

    text-align:center;
    padding:40px;

}

.hero h1{

    font-size:42px;
    margin-bottom:15px;

}



.hero-subtitle{

    font-size:22px;
    color:#5EEAD4;
    margin-top:8px;
    margin-bottom:20px;

}

.hero-text{

    max-width:650px;
    margin:auto;
    color:#E2E8F0;
    line-height:1.8;
    margin-bottom:35px;

}




/*==================================================
HERO LOGO
==================================================*/

.hero-title{
    display:block;
}


.img-logo{

    position: relative;
    width:120px;
    height:120px;
    margin-top: 30px;
    margin-left: 30px;
    object-fit:contain;
    filter:
        drop-shadow(0 0 20px rgba(94,234,212,.45));
   
} 



.hero-title h1{
    margin:0;
}



.hero-menu{

    margin-top:45px;
    display:grid;
    grid-template-columns:
    repeat(6,1fr);
    gap:16px;

}


.menu-card{

    background:rgba(255,255,255,.10);
    backdrop-filter:blur(14px);
    border:1px solid rgba(255,255,255,.15);
    border-radius:18px;
    padding:16px;
    text-align:center;
    cursor:pointer;
    transition:.35s;

}

.menu-card{
    height:130px;
}


.menu-card:hover{

    transform:
        translateY(-6px)
        scale(1.02);

    background:
        rgba(37,99,235,.25);

}

.menu-icon{

    font-size:34px;
    margin-bottom:12px;

}

.menu-card h3{

    margin:0;
    font-size:16px;

}


/*==================================================
   MEDIA HP / TAB
==================================================*/

@media (max-width:1200px){

    .hero-menu{
        grid-template-columns:repeat(5,1fr);
    }

}

@media (max-width:900px){

    .hero-menu{
        grid-template-columns:repeat(3,1fr);
    }

}

@media (max-width:600px){

    .hero-menu{
        grid-template-columns:repeat(2,1fr);
    }

}


/*==================================================
   MODAL POP-UP
==================================================*/

.modal{

    display:none;
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.55);
    justify-content:center;
    align-items:center;
    z-index:9999;

}

.modal.show{
    display:flex;
}

.modal-content{

    width:min(1400px,95vw);
    height:95vh;
    background:#0F172A;
    border-radius:20px;
    padding:30px;
    overflow:auto;
    position:relative;
    box-shadow:0 20px 60px rgba(0,0,0,.45);

}


.modal-close{

    position:absolute;
    top:20px;
    right:20px;
    width:50px;
    height:50px;
    border:none;
    border-radius:12px;
    background:#DC2626;
    color:#FFFFFF;
    font-size:32px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;

}


